Source: libgsignon-glib
Section: net
Priority: extra
Maintainer: Jussi Laako <jussi.laako@linux.intel.com>
Build-Depends: autotools-dev,
               debhelper (>= 9),
               gobject-introspection (>= 1.30.0),
               gtk-doc-tools,
               libdbus-1-dev,
               libgirepository1.0-dev (>= 1.30.0),
               libglib2.0-dev (>= 2.34),
               pkg-config
Standards-Version: 3.9.5
Homepage: https://01.org/gsso
Vcs-Git: https://gitlab.com/accounts-sso/libgsignon-glib.git
Vcs-Browser: https://gitlab.com/accounts-sso/libgsignon-glib/tree/master

Package: libgsignon-glib1
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: gSSO client library
 gSSO is a single sign-on framework, providing secure storage and single sign-on service.

Package: libgsignon-glib-dev
Architecture: any
Section: libdevel
Depends: gir1.2-gsignon-1.0 (= ${binary:Version}),
         libgsignon-glib1 (= ${binary:Version}),
         ${misc:Depends},
         ${shlibs:Depends}
Description: GLib-based Single Sign On framework -- development files
 gSSO is a single sign-on framework, providing secure storage and single sign-on
 service.
 .
 This package contains the development files for libgsignon-glib.

Package: libgsignon-glib1-dbg
Architecture: any
Section: debug
Depends: libgsignon-glib1 (= ${binary:Version}), ${misc:Depends}
Multi-Arch: same
Description: GLib-based Single Sign On framework -- debugging symbols
 gSSO is a single sign-on framework, providing secure storage and single sign-on
 service.
 .
 This package contains detached debugging symbols.
 .
 Most people will not need this package.

Package: libgsignon-glib-doc
Section: doc
Architecture: all
Depends: ${misc:Depends}
Description: GLib-based Single Sign On framework -- documentation
 gSSO is a single sign-on framework, providing secure storage and single sign-on
 service.
 .
 This package contains the documentation files for libgsignon-glib.

Package: gir1.2-gsignon-1.0
Section: introspection
Architecture: any
Depends: ${gir:Depends},
         ${misc:Depends},
         ${shlibs:Depends}
Description: GLib-based Single Sign On framework -- gir bindings
 gSSO is a single sign-on framework, providing secure storage and single sign-on
 service.
 .
 This package can be used by other packages using the GIRepository format to
 generate dynamic bindings.
